.title {
  margin-top: 1rem;
  margin-left: 1.5rem;
}
.form {
  width: 60%rem;
  margin-top: 1rem;
  background-color: white;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1.5rem;
}
.autocomplete {
  margin-top: 2rem;
  margin-left: 1.5rem;
}
.content {
  padding-left: 1rem;
  padding-top: 3rem;
}
