.newhotelsCard {
  background-color: white;
}
.imagescadr {
  margin-left: 1rem;
}
.imagesbar {
  display: flex;
  border: solid 1px black;
  height: 8rem;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.boxes {
  margin-left: 2rem;
}
.image-item {
  width: 7rem;
}
