.navbar {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-bottom: solid 2px rgb(158, 155, 155);
  overflow: hidden;
}

.logodiv {
  margin-left: 3rem;
  border-radius: 3px;
}
.listdiv {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 2rem;
  margin-top: 0.7rem;
  padding-left: 0px;
  margin-bottom: 0.1rem;
}
.listcontent {
  list-style: none;
}
.logindiv {
  padding-left: 0px;
}
