.navbar {
  display: flex;
  justify-content: space-between;
  border: solid 2px black;
  margin-top: 3rem;
}

.logodiv {
  border: solid 2px black;
  margin-left: 3rem;
  border-radius: 3px;
}
.listdiv {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: solid 2px black;
  margin-right: 3rem;
  padding-left: 0px;
}
.listcontent {
  list-style: none;
  padding-left: 1rem;
}
